@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* root */
:root{
   --color-primary: #000000;
   --color-secondary: #D9D9D9;
   --color-white: #FFFFFF;
   --color-accent: #151515;
   --color-hover: #D9D9D9;
   --gradient-type-1: linear-gradient(to right, #69ED8E 0%, #3489D7 93%);
   --gradient-type-2: linear-gradient(to right, #F6A224 0%, #68D734 41%, #3BEC2B 66%, #81A4FF 100%);
   --gradient-type-3: linear-gradient(to right, #F6A224 0%, #5E34D7 38%, #EC9F2B 81%, #81A4FF 100%);
   --gradient-type-4: linear-gradient(164deg, #000000 2%, #FFFFFF 23%, #000000 59%, #FFFFFF 100%);
   --gradient-type-5: linear-gradient(to right, #B796FF 0%, #5B2CC0 100%);
   --gradient-type-6: linear-gradient(45deg, #000000 0%, #906DF3 33%, #000000 73%, #FFFFFF 100%);
   --gradient-type-7: linear-gradient(45deg, #9BFCDF 0%, #906DF3 33%, #6FC351 73%, #FFFFFF 100%);
   --max-width: 124rem;
}

/* global settings */
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
html, body{
   width: 100%;
   height: 100%;
   overflow-x: hidden;
}

/* Typography */
html {
   font-size: 62.5%;
}
body{
   background-color: var(--color-primary);
   color: var(--color-secondary);
   font: 400 1.4rem "Inter", Arial, Helvetica, sans-serif;
}
   /* inter font variables 
      Thin: 100
      Light: 300
      Regular: 400
      Medium: 500
      SemiBold: 600
      Bold: 700
      Extrabold: 800
      Black: 900
   */
   /* 
   font: shorthand order
   font-style
   font-variant
   font-weight
   font-size/line-height
   font-family;
   */
h1, h2, h3, h4{
   color: var(--color-white);
   margin: 0;
}
p{
   margin: 0;
}
h1 {
   font-size: 9.6rem;
}
h2{
   font-size: 3.6rem;
}
h3{
   font-size: 2.6rem;
}
h4{
   font: 500 1.6rem;
}
a{
   text-decoration: none;
}
a:link, a:visited, a:active { 
   color: var(--color-secondary); 
}
li{
   list-style: none;
}

* img{
   cursor: pointer;
}

/* common styles */
   .body-container {
      max-width: var(--max-width);
      margin: 0 auto;
      padding: 0 0.5rem;
      /* border: 1px solid red; */
   }
  .display-flex{
   display: flex;
  }
  .content-container{
   border-radius: 2.6rem;
   text-align: center;
  }
  .content-container__type1{
   height: 4.5rem;
   padding: 1rem 2.5rem;
  }
  .content-container__type2{
   padding: 3.5rem 2.5rem;
  }
  .container__gradient{
      position: relative;
      border-radius: 2.6rem;
   }
   .container__gradient::after {
      background: var(--gradient-type-1);
      border-radius: 2.6rem;
      content: "";
      height: 100%;
      left: 50%;
      padding: 1.7px;
      position: absolute;
      top: 50%;
      translate: -50% -50%;
      width: 100%;
      z-index: -1;
   }
   .margin__bottom{
      margin-bottom: 8rem;
   }
   .btn{
      border-radius: 3rem;
      border: none;
      color: var(--color-titles);
      cursor: pointer;
      width: 24rem;
      font-weight: 600;
      font-size: 1.6rem;
      max-width: 24rem;
      padding: 2rem 5.5rem;
      transition: all 0.15s;
   }
   
   /* .btn:hover{
      box-shadow:  0 0 10px var(--color-hover),
      0 0 20px var(--color-hover),
      0 0 30px var(--color-hover);
   } */
   .btn-type-1{
      background-color: var(--color-secondary);
      box-shadow:  0 4px 30px 11px rgb(255, 255, 255, 15%);
   }
   .btn-type-1 a{
      color: var(--color-primary);
      
   }
   .btn-type-2{
      background-color: var(--color-primary);
      
   }

   .btn-type-3{
      background-color: var(--gradient-type-5);
   }
/* body */
   /* header */
      /* navbar */
      .logo{
         height: 11.5rem;
         width: 10rem;
      }
      .circle-icon{
         height: 3.7rem;
         width: 3.7rem;
      }
      .navbar{
         margin-top: 2.5rem;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
      }
      .nav-items{
         justify-content: center;
         align-items: center;
         padding: 0.8rem 4rem;
         gap: 1.7rem;
         background-color: var(--color-primary);
      }
      
     
      /* hero */
      .video-wraper{
         border-radius: 1.6rem;
         /* border: 1px solid rgba(201, 209, 247, 0.2); */
         /* border: 1px solid red; */
         width: 100%;
         height: 47rem;
         overflow: hidden;
      }
      .video-wraper video {
         border: 1px solid rgba(201, 209, 247, 0.2);
         border-radius: 1.6rem;
         width: 100%;
         height: 100%;
         /* transform: scale(1.5); */
         object-fit: cover;
      }
   /* main */
      /* Trusted by */
      .trusted-by{
         flex-direction: column;
         align-items: center;
         justify-content: center;
         gap: 1rem;
      }
      .trusted__body{
         height: 4rem;
         width: 13rem;
         background-color: var(--color-accent);
      }
      .trusted-by .container__gradient::after{
         background: var(--gradient-type-2);
      }
      .trusted__img{
         width: 69rem;
         overflow: hidden;
      }
      .trusted__img img{
         height: 100%;
         width: 100%;
         object-fit: cover;
      }

      .hear-feel__body{
         flex-direction: column;
         justify-content: flex-start;
         align-items: center;
         text-align: center;
         gap: 3rem;
         padding: 5.5rem 0;
      }
      .hear-feel__body{
         width: 100%;
         height: 43.5rem;
         background-color: var(--color-accent);
      }
      .hear-feel .container__gradient::after{
         background: var(--gradient-type-3);
         
      }
      
      .see-believe{
         position: relative;
         z-index: 1;
      }
      .see-believe__body{
         justify-content: center;
         align-items: center;
         font-size: 1.2rem;
         width: 28.5rem;
         background-color: var(--color-accent);
      }
      .see-believe .container__gradient::after{
         background: var(--gradient-type-3);
      }
      .hear-feel__body h2{
         margin-bottom: 2rem;
         font-weight: 600;
         font-size: 4.8rem;
         width: 103rem;
      }
      .hear-feel-btn{
         flex-direction: row;
         gap: 4.5rem;
      }
      .hear-feel-btn{
         position: relative;
         z-index: 1;
      }
      .hear-feel-btn .container__gradient::after{
         border-radius: 3rem;
         padding: 1px 0.2px;
         background: var(--gradient-type-4);
      }

      /* who you're working with */
      .working-with-header{
         flex-direction: column;
         align-items: center;
         justify-content: center;
         text-align: center;
         width: 100%;
      }
      .working-with-header h2{
         font-weight: 900;
         font-style: italic;
         font-size: 9rem;
      }
      .working__icon{
         height: 8.6rem;
         width: 8.6rem;
         overflow: hidden;
      }
      .working__icon img{
         height: 100%;
         width: 100%;
         object-fit: contain;
      }
      
   /* footer */